* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

body {
  margin: 0 3em 1em 3em auto;
  font-family: 'Lato', helvetica, sans-serif;
  background: #f6f6f6;
}

p {
  font-size: 1.3em;
  text-align: justify;
}

h1#headline {
  margin-bottom: 1.5em;
}

.article {
  padding: 3em;
  max-width: 900px;
  margin: 0 auto;
}

#chart{
  width: 100%;
  margin: 0 auto;
} 

.background {
  fill: #545454;
}

line {
  stroke: #fff;
}

text {
  font-family: 'Lato', helvetica, sans-serif;
}

text.active {
  fill: red;
}

text.label {
  font-size: 14px;
  fill: #545454;
}

text.month-title {
  font-size: 14px;
}

.day {
  fill: #fff;
  stroke: #ccc;
}

.day:hover {
  fill: #fff;
  cursor: pointer;
}

.month {
  fill: none;
  stroke: #fff;
  stroke-width: 4px;
}
.year-title {
  font-size: 1.5em;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: white;
  color: #696969;
  border-radius: 2px;
  border: 1px solid #545454;
  opacity: 0.8;
  box-shadow: 2px 2px 2px #ccc;
}

.YlOrRd .q1-3{fill:rgb(255,237,160)} 
.YlOrRd .q2-2{fill:rgb(254,178,76)} 
.YlOrRd .q3-3{fill:rgb(240,59,32)}


rect.q1-3{fill:rgb(255,237,160)} 
rect.q2-3{fill:rgb(254,178,76)} 
rect.q3-3{fill:rgb(240,59,32)}

/*rect.q0-9{fill:rgb(255,255,204)} 
rect.q1-9{fill:rgb(255,237,160)} 
rect.q2-9{fill:rgb(254,217,118)} 
rect.q3-9{fill:rgb(254,178,76)} 
rect.q4-9{fill:rgb(253,141,60)}
rect.q5-9{fill:rgb(252,78,42)} 
rect.q6-9{fill:rgb(227,26,28)} 
rect.q7-9{fill:rgb(189,0,38)} 
rect.q8-9{fill:rgb(128,0,38)}
*/
.line {
    display: inline;
  }

  /* Media queries */

@media screen and (max-width: 995px) {

  .line {
    display: block;
  }

@media screen and (max-width: 768px) {
  .line {
    display: block;
  }

  h1 {
    font-size: 2.2em;
  }

  h4 {
    font-size: 14px;
  }

  p {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 480px) {
  .line {
    display: block;
  }

  h1 {
    font-size: 1.8em;
  }

  h4 {
    font-size: 14px;
  }

  p {
    font-size: 1.2em;
  }
}

